body {
  margin: 0px;
  padding: 0px 0;
  background-color: #292929;
  font-family: arial, sans-serif;
}

.main {
  margin: 0px;
  /* top right bottom left */
  padding: 0 0 40px 0;
  background-color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 1.4
}

.content_text {
  /* top right bottom left */
  padding: 20px 40px 0 20px;
}


/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}

.right-container {
	padding: 10px 0 0 0;
	text-align: right;
}

.tabs-header {
	background-color: #0779bf;
	padding: 40px 0 0 0;
}

.tabs-container {
      background: linear-gradient(to bottom, #0779bf, #48a9e4 100%);
      border-bottom: 1px solid #ccc;
      padding: 0 20px;
    }

.tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs li {
  margin: 0;
}

.tabs a {
  display: block;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  color: #005999;
  text-decoration: none;
  font-weight: regular;
  font-size: 13px;
  transition: background 0.2s;
}

.tabs a:hover {
  background: #ffffff;
}

.tabs a.active {
  background: #ffffff;
  color: #000;
  border-bottom: 1px solid #ffffff;
}

.content {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 6px 6px;
  margin: 0 20px 20px;
}

hr.rule {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
