body {
  margin: 25px;
  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 1.4
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}

.right-container {
	text-align: right;
}
